/**
 * defaults
 **/
body {
	color: #fff;
    font-family: verdana;
    font-size: 90%;
    color: black;
    background-color: #ff6600;
}

div.link {
    margin: 0 1em 0 0;
}

div.submit {
	margin: 1em;
}

div.admin_bar {
	font-size: 60%;
}

a {
    color: blue;
}

a.died {
    color: Maroon;
}

/**
 * styles for more elements
 **/

body, dd a {
    font-weight: bold;
}

div#logo, h2 {
    text-align: center;
}

div.link, dt, label {
    float: left;
}

/**
 * Modalbox & forms
 **/
label {
	width: 8em;
}
dd, input[type="text"], input[type="password"], textarea {
	font-weight: normal;
}

dd {
	margin: 0 0 0 8em;
}

/**
 * setup the tree
 **/
li, ul {
    list-style-type: none;
    padding: 0;
} 

ul.tree, ul.tree ul { 
	background: url(../img/vline.png) repeat-y; 
	margin: 0; 
	padding: 0; 
}

ul.tree ul { 
	margin-left: 10px;
}

ul.tree li { 
	margin: 0; 
	padding: 0 12px; 
	line-height: 20px; 
	background: url(../img/node.png) no-repeat; 
	color: #369; 
	font-weight: bold; 
}

ul.tree li:last-child { 
	background: #ff6600 url(../img/lastnode.png) no-repeat; 
} 